<h1>Tandem Watering Schedule</h1>

<div class="agenda">
  <h2>Today's Agenda</h2>
  <% if @todays_schedule && @plants_are_waterable %>
  <div class="datehead"><%= print_date(@todays_schedule.date) %></div>
  <div class = "plantshow"> 
    <% @todays_schedule.plants.each do |plant| %>
      <p><%= plant %></p>
    <% end %>
  </div>
  <% else %>
    <p>No watering scheduled for today! Check back tomorrow.</p>
  <% end %>
</div>

<div class="fullschedule">
  <h2>Full Schedule</h2>

  
    <% @monthly_records.each_pair do |month, data| %>
      <div class="calendar">
      <div class="month">
        <%= Date::MONTHNAMES[month] %>
      </div>

      <ul class="weekdays">
        <li>Mo</li>
        <li>Tu</li>
        <li>We</li>
        <li>Th</li>
        <li>Fr</li>
        <li>Sa</li>
        <li>Su</li>
      </ul>

      <ul class="days">
        <% days_from_monday(@monthly_records[month].first.date).times do %>
          <li></li>
        <% end %>
        <% data.each do |record| %>
          <% unless record[:plants].blank? %>
            <li><%= link_to to_date(record.date).day.to_s, schedule_path(record) %></li>
          <% else %>
            <li><%= to_date(record.date).day.to_s %></li>
          <% end %>
        <% end %>
      </ul>
    <% end %>
  </div>
</div>