<h1>Tandem Watering Schedule</h1>

<div class="agenda">
  <h2>Today's Agenda</h2>
  <% if @schedules.find_by(date: Date.today.to_s) && @schedules.find_by(date: Date.today.to_s).plants %>
  <div class="datehead"><%= print_date(@schedules.find_by(date: Date.today.to_s).date) %></div>
  <div class = "plantshow"> 
    <% @schedules.find_by(date: Date.today.to_s).plants.each do |plant| %>
      <p><%= plant %></p>
    <% end %>
  </div>
  <% else %>
    <p>No watering scheduled for today! Check back tomorrow.</p>
  <% end %>
</div>

<div class="fullschedule">
  <h2>Full Schedule</h2>
  <div class="calendar">
    <% collect_months(@schedules).each do |month| %>
      <div class="month">
        <%= Date::MONTHNAMES[month] %>
      </div>

      <ul class="weekdays">
        <li>Mo</li>
        <li>Tu</li>
        <li>We</li>
        <li>Th</li>
        <li>Fr</li>
        <li>Sa</li>
        <li>Su</li>
      </ul>

      <ul class="days">
        <% days_from_monday(records_in_month(month).first.date).times do %>
          <li></li>
        <% end %>
        <% records_in_month(month).each do |day_record| %>
          <% unless day_record[:plants].blank? %>
            <li><%= link_to to_date(day_record.date).day.to_s, schedule_path(day_record) %></li>
          <% else %>
            <li><%= to_date(day_record.date).day.to_s %></li>
          <% end %>
        <% end %>
      </ul>
  <% end %>
  </div>
</div>